.panel {
  background: white;
  padding: 20px;
  border-radius: 12px;

  position: sticky;
  top: 100px;
  height: fit-content;
}

.group {
  margin-bottom: 20px;
}

.group p {
  font-weight: 600;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}